confirmModulesPurge=false
ignore-scripts=false
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@esbuild/android-arm
onlyBuiltDependencies[]=@esbuild/android-arm64
onlyBuiltDependencies[]=@esbuild/android-x64
onlyBuiltDependencies[]=@esbuild/darwin-arm64
onlyBuiltDependencies[]=@esbuild/darwin-x64
onlyBuiltDependencies[]=@esbuild/freebsd-arm64
onlyBuiltDependencies[]=@esbuild/freebsd-x64
onlyBuiltDependencies[]=@esbuild/linux-arm
onlyBuiltDependencies[]=@esbuild/linux-arm64
onlyBuiltDependencies[]=@esbuild/linux-ia32
onlyBuiltDependencies[]=@esbuild/linux-mips64el
onlyBuiltDependencies[]=@esbuild/linux-ppc64
onlyBuiltDependencies[]=@esbuild/linux-riscv64
onlyBuiltDependencies[]=@esbuild/linux-s390x
onlyBuiltDependencies[]=@esbuild/linux-x64
onlyBuiltDependencies[]=@esbuild/netbsd-x64
onlyBuiltDependencies[]=@esbuild/openbsd-arm64
onlyBuiltDependencies[]=@esbuild/openbsd-x64
onlyBuiltDependencies[]=@esbuild/sunos-x64
onlyBuiltDependencies[]=@esbuild/win32-arm64
onlyBuiltDependencies[]=@esbuild/win32-ia32
onlyBuiltDependencies[]=@esbuild/win32-x64
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@img/sharp-linuxmusl-x64
onlyBuiltDependencies[]=unrs-resolver